<div
  *ngIf="product.title"
  class="card">
  <img *ngIf="product.imageURL" 
        src="{{ product.imageURL }}" 
        class="card-img-top" 
        alt="{{ product.title }}">
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.price | currency:'USD':true }}</p>
  </div>
  <div *ngIf="showActions && shoppingCart" class="card-footer">
    <div>
        <button 
          *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantitiy"
          class="btn btn-secondary btn-block"
          (click)="addToCart()">
            Add to cart
        </button>
        <ng-template #updateQuantitiy>
          <product-quantity [product]="product" [shopping-cart]="shoppingCart">
          </product-quantity>
        </ng-template>
    </div>
  </div>
</div>